*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

body{
 
    height: 100%;
    width: 100%;
    background:rgb(24, 24, 24);
    flex-wrap: wrap;


}
.strip{
    display: flex;
    height: 75px;
    background: #181818;
    flex-wrap: wrap;
    min-width: 70px;
    min-height: 75px;
    

}
.filter{
    display: flex;
    position: relative;
    display: flex;
    width: 70%;
    height: 100%;
    left: 30%;
    background: rgb(17, 17, 17);
    justify-content: center;
    flex-wrap: wrap;

}
.heading{
    display: flex;
    width: 100px;
    justify-content: center;
    /* background: aqua; */
    position: relative;
    color: white;
    top:33%;
    font-size: 21px;
    margin-left: 50px;
    max-width: 100px;
    margin-right: 10%;
    flex-wrap: wrap;
}
.genere{
    display: flex;
    width: 40%;
    height: 35%;
    justify-content: center;
    position: relative;
    color: black;
    top:33%;
    font-size: 14px;
    margin-left: 5px;
    max-width: 15%;
    border: none;
    outline: none;

    text-align: center;
    background: white;
    border-radius: 1px;
    border: solid 1px rgb(121, 121, 121);
    flex-wrap: wrap;
    
}

.bucket{
    background-color: rgb(37, 37, 37);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
}
.card {
    display: flex;
    margin-top: 25px;
    margin-left: 60px;
    box-shadow: 0 4px 8px 0 rgb(160, 160, 160);
    transition: 0.3s;
    height: 200px;
    width: 200px;
    min-width: 200px;
    border-radius: 5px;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 whitesmoke;
    
}
.container {
    padding: 2px 16px;
}

  .search{
      color: #fff;
      position: relative;
      height: 20px;
      width: 20px;
      top: 40%;
      left: 10px;
  }
  .search:hover{
      color: #fff;
     cursor: pointer; 
  }
  .pallete{
    position: relative;
    height: 20px;
    width: 20px;
    top: 40%;
    left: 150px;
}
.pallete:hover{
   cursor: pointer; 
}


/* loader */
.lds-hourglass {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid rgb(59, 59, 59);
  border-color: rgb(121, 121, 121) transparent white transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/* toggle-button-switch-theme */
.button-con {
    float: right;
    cursor: default;
    position: relative;
    left: 70px;
    top: 30px;
    /* top: 50%;
    left: 50%;
    margin-left: -76px;
    margin-top: -18px; */
  }
  

  .toggle {
      color: #fff;
    display: none;
  }
  
  .toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .toggle-button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .toggle::-moz-selection, .toggle:after::-moz-selection, .toggle:before::-moz-selection, .toggle *::-moz-selection, .toggle *:after::-moz-selection, .toggle *:before::-moz-selection, .toggle + .toggle-button::-moz-selection {
    background: none;
  }
  
  .toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .toggle-button::selection {
    background: none;
  }
  
  .toggle + .toggle-button {
    outline: 0;
    display: inline-block;
    width: 2em;
    height: 1em;
    position: relative;
    cursor: pointer;
    border: 2px solid #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .toggle + .toggle-button:after, .toggle + .toggle-button:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  
  .toggle + .toggle-button:after {
    left: 0;
  }
  
  .toggle + .toggle-button:before {
    display: none;
  }
  
  .toggle:checked + .toggle-button:after {
    left: 50%;
  }
  
  .toggle + .toggle-button {
    padding: 2px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border: 2px solid #fff;
    border-radius: 2em;
  }
  
  .toggle + .toggle-button:after {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: #fff;
    content: "";
    border-radius: 1em;
  }
  
  .toggle:checked + .toggle-button:after {
    left: 50%;
  }