*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

body{
 
    height: 100%;
    width: 100%;
    background:white;
    flex-wrap: wrap;


}
.strip{
    display: flex;
    height: 75px;
    background: #0e83cd;
    flex-wrap: wrap;
    min-width: 70px;
    min-height: 75px;
    

}
.filter{
    display: flex;
    position: relative;
    display: flex;
    width: 70%;
    height: 100%;
    left: 30%;
    background: aqua;
    justify-content: center;
    flex-wrap: wrap;

}
.heading{
    display: flex;
    width: 100px;
    justify-content: center;
    /* background: aqua; */
    position: relative;
    color: white;
    top:33%;
    font-size: 21px;
    margin-left: 50px;
    max-width: 100px;
    margin-right: 10%;
    flex-wrap: wrap;
}
.genere{
    display: flex;
    width: 40%;
    height: 35%;
    justify-content: center;
    position: relative;
    color: black;
    top:33%;
    font-size: 14px;
    margin-left: 5px;
    max-width: 15%;
    border: none;
    outline: none;
    text-align: center;
    background: white;
    border-radius: 1px;
    border: solid 1px white;
    flex-wrap: wrap;
    
}

.bucket{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
}
.card {
    display: flex;
    margin-top: 25px;
    margin-left: 60px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 200px;
    width: 200px;
    min-width: 200px;
    border-radius: 5px;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
}
.container {
    padding: 2px 16px;
}
  .search{
      position: relative;
      height: 20px;
      width: 20px;
      top: 40%;
      left: 10px;
  }
  .search:hover{
     cursor: pointer; 
  }
  .pallete{
    position: relative;
    height: 20px;
    width: 20px;
    top: 40%;
    left: 150px;
}
.pallete:hover{
   cursor: pointer; 
}


/* loader */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid black;
  border-color: black transparent black transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}